body {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    overflow-x: hidden;
}

.body-wrapper {
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    overflow-x: hidden;
}

.nav li a {
    color: #f2f3ee;
}
.link a {
    color: #f2f3ee;
}

.homeMain {
    background: url(images/food.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 105vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    perspective: 800px;
}

.headerTop {
    text-align: center;
    width: 400px;
    font-size: 35px;
    line-height: 50px;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    left: 0;
    right: 0;
    color: #f9f9f9;
    letter-spacing: 3px;
    font-style: italic;
    font-family: 'Arvo', serif;
    position: absolute;
    -webkit-animation: topFadeIn 1s 1 ease;
    -moz-animation: topFadeIn 1s 1 ease;
    -o-animation: topFadeIn 1s 1 ease;
    animation: topFadeIn 1s 1 ease;
}

@keyframes topFadeIn {
    0% {
        opacity: 0;
        transform: translateZ(-300px);
    }
    50% {
        opacity: 0;
        transform: translateZ(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateZ(0);
    }
}


#about {
    padding: 25px 25px 0 25px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

.aboutPar {
    font-size: 25px;
    line-height: 35px;
    font-weight: 200;
    color: #414141;
    font-family: 'Open Sans', sans-serif;
}

.vid {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.vidContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 0;
}

.video {
    width: 50vw;
    height: 28.125vw;
    min-height: 50vh;
    min-width: 88.9vh;
}



.weddingWrapper {
    height: 110vh;
    width: 100%;
    background: url(images/weddingCatering.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

.weddingContent {
    height: 300px;
    width: 300px;
    background: #f9f9f9;
    position: absolute;
    right: 5%; 
    top: 15%;
    text-align: center;
}
.boxHeader {
    font-size: 25px;
    padding: 40px 25px 20px 25px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 3px;
    font-family: 'Arvo', serif;
    color: #313131;
}
.boxPar {
    font-size: 22px; 
    padding: 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}


.eventWrapper {
    background: url(images/corporateCatering.jpg);
    background-size: cover;
    width: 90vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    position: relative;
}

.eventBox {
    height: 300px;
    width: 300px;
    background: #F9F9F9;
    position: absolute;
    left: 5%;
    top: 25%;
    text-align: center;
}


.sampleHeader {
    font-family: 'Arvo', serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    color: #313131;
    padding-top: 30px;
}

.menuWrapper {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-items: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}

.menuContainer {
    width: 400px;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    align-items: space-around;
    border: 1px solid #B9B8B8;

}

.menuHeader {
    text-align: center;
    font-family: 'Arvo', serif;
    font-weight: lighter;
    color: #313131;
    font-size: 25px;
}
.menuRow {
    display: flex;
    flex-flow: column; 
    width: 350px;
    margin: 10px auto;
}
.menuCourse {
    font-family: 'Arvo', serif;
    font-weight: lighter;
    color: #414141;
    font-size: 18px;
}

.menuItem {
    margin: auto 10px;
    font-size: 18px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.menuPrice {
    text-align: center;
    font-size: 18px;
    font-family: 'Arvo', serif;
    font-weight: lighter;
    color: #414141;
}


#about {
    position: relative;
}
#about-anchor {
    position: absolute;
    top: -20px;
    left: 0;
}

#menu {
    position: relative;
}

#menu-anchor {
    position: absolute;
    top: -75px;
    left: 0;
}


#contact {
    position: relative;
}
#contact-anchor {
    position: absolute;
    top: -75px;
    left: 0;
}

#contactWrapper {
    border-top: 1px solid #B9B8B8;

}


.contactHeader {
    font-family: 'cormonrant garamond', serif;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    color: #414141;
}

.contactSubHeader {
    font-family: 'Neuton', serif;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    color: #414141;
}

.row {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
}

.column {
    width: 40%;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #676767;
    justify-content: baseline;
    align-content: baseline;
    align-items: baseline;
    justify-items: baseline;
}

.input {
    width: 80%;
    border: none;
    background: #F9F9F9;
    height: 30px;
    font-size: 15px;
}

input:focus {
    outline: none;
}

.form_label {
    padding-right: 15px;
    justify-self: baseline;
    align-self: baseline;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 20px;
    width: auto;
}

.date {
    border: none;
    background: #F9F9F9;
    height: 30px;
    font-size: 15px;
    color: #757575;
}

.message_row {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    justify-items: baseline;
    align-content: baseline;
    align-items: baseline;
    border-bottom: 1px solid #676767;
    margin-top: 20px;
    margin-bottom: 20px;
}

.message_input {
    width: 90%;
    height: 30px;
    font-size: 15px;
    background: #F9F9F9;
    border: none;
}


#form-button {
    margin: 20px auto 50px auto;
    height: 30px;
    width: 100px;
    font-size: 15px;
    color: #676767;
    background-color: #f9f9f9;
    border: 1px solid #B9B8B8;
}
#form-button:hover {
    cursor: pointer;
}

.footerWrapper {
    height: 60px;
    width: 100%;
    background-color: #F9F9F9;

}

.footer {
    height: 60px;
    width: 100%;
    border-top: 1px solid #B9B8B8;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.icon {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
}
.fa-phone {
    color: #010101;
}
.fa-envelope {
    color: #010101;
}
.footerText {
    font-size: 18px;
    color: #474747;
    padding-left: 10px;
}

.fa-facebook-square {
    color: #000;
}

@media only screen and (max-width: 900px) {
    .menuWrapper {
        flex-flow: column;
    }
}

@media only screen and (max-width: 600px) {
    .homeMain {
        height: 300px;
        padding-top: 50px;
        background-attachment: scroll;
        background-size: auto 100vw;
    }

    .video {
        width: 100vw;
        height: auto;
        min-height: auto;
        min-width: auto;
    }
    .weddingWrapper {
        background-position: center center;
    }
    .weddingContent {
        top: 0px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-top: 1px solid #B9B8B8;
    }
    .eventWrapper {
        background-position: center center;
        width: 100%;
        height: 100vh;
        margin-top: 0;
        padding-top: 0;
    }
    .eventBox {
        top: 0px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-top: 1px solid #B9B8B8;
    }
}


@media only screen and (max-width: 500px) {
    .headerTop {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .row {
        flex-flow: column;
    }
    .column {
        width: 90%;
    }
    .footerWrapper {
        height: 100px;
        margin: 0;
        padding: 0;
    }
    .footer {
        height: 100px;
        margin: 0;
        padding: 0;
    }
    .icon {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .fa-facebook-square {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .fa-phone {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .fa-envelope {
        padding-top: 0;
        margin-top: 0;
    }
    .footerText {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 430px) {
    .headerTop {
        font-size: 30px;
    }
    .menuContainer {
        width: 300px;
    }
    .menuRow {
        width: 250px;
    }
    .aboutPar {
        font-size: 18px;
    }
}